<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"	
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="com.beans.Director" id="myDirector">
		<property name="fname" value="akash"/>
		<property name="lname" value="nair"/>
		<property name="age" value="22"/>
	</bean>

	<bean class="com.beans.Film" id="myFilm">
		<property name="title" value="500 Days of Summer"/>
		<property name="genre" value="depression"/>
		<property name="releaseYear" value="2009"/>
		<property name="director" ref="myDirector"/>
	</bean>

</beans>

