<html>
    <head>

    </head>
    <body>
        <h1>Add New Department</h1>
        <form method="post">
            <div>
            <label for="Id">Enter Department Number</label>
            <input type="number" name="Id" placeholder="Enter Department Id" required/>
            </div>
            <div>
            <label for="Name">Enter Department Name</label>
            <input type="text" name="Name" placeholder="Enter Department Name" required/>
            </div>
            <div>
            <label for="Location">Enter Department Location</label>
            <input type="text" name="Location" placeholder="Enter Department Location" required/>
            </div>
            <div>
             <button type="submit">Add Department</button>
            </div>
        </form>
        <a href="/Home/Index">Our Employees</a>
        <br/>
        <a href="/Dept/Departments">Our Departments</a>
    </body>
</html>